#anchor>a>button>img,
#anchor>button>img {
    width: 2vw;
    height: 2vw;

    margin: 5px;
}

#anchor {
    position: fixed;
    z-index: 1001;

    right: 5px;

    display: grid;
    max-width: min-content;

    padding-top: 10px;
}

#anchor>a>button,
#anchor>button {
    border-radius: 10px;
    margin: 5px;
}

#scroll-up {
    position: fixed;
    bottom: 5px;
}

#anchor>button,
#anchor>a>button {
    background-color: var(--main-color);
}