#content {
    min-height: 80vh;
    height: max-content;
    position: relative;

    padding-top: 5vh;
    padding-bottom: 5vh;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: start;
    align-items: flex-start;
    gap: 30px;
}

#content>#markdown>img {
    max-width: 80vw;
}

#content>#markdown>*:not(hr) {
    display: inline;

}

#content>#markdown>a {
    text-decoration: none;
}

#content>article {
    width: 100%;
}

article>div>p,
article>div>h2,
article>div>h3 {
    display: inline-block;
}

@media screen and (max-width: 1024px) {
    #content {
        margin-right: 2vw;
        margin-left: 2vw;
    }
}

@media screen and (min-width: 1024px) {
    #content {
        margin-right: 15vw;
        margin-left: 15vw;
    }
}