@font-face {
    font-family: Pacifico;
    src: url(/assets/font/Pacifico-Regular.ttf);
}

@font-face {
    font-family: Varela;
    src: url(/assets/font/VarelaRound-Regular.ttf);
}

p,
a {
    font-family: Varela;

    font-size: large;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Pacifico;
    color: var(--text-color);
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
}

h2 {
    font-size: x-large;
    font-weight: bold;
}

p {
    color: var(--text-color);
}

a {
    color: var(--link-color);
}