@font-face {
    font-family: Pacifico;
    src: url(/assets/font/Pacifico-Regular.ttf);
}

@font-face {
    font-family: Varela;
    src: url(/assets/font/VarelaRound-Regular.ttf);
}

b,
summary {
    font-family: Varela;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: underline;
}

p,
a,
del,
i {
    font-family: Varela;

    font-size: x-large;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Varela;
    color: var(--text-color);
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
}

h2 {
    font-size: x-large;
    font-weight: bold;
}

p,
b,
del,
i {
    color: var(--text-color);
}

a,
summary,
li::marker,
hr {
    color: var(--link-color);
}