@font-face {
    font-family: Pacifico;
    src: url(/assets/font/Pacifico-Regular.ttf);
}

@font-face {
    font-family: Varela;
    src: url(/assets/font/VarelaRound-Regular.ttf);
}

b,
summary {
    font-family: Varela;

    font-size: x-large;
    font-weight: bolder;
}

i {
    font-style: italic;
}

p,
del,
i,
li,
u {
    font-family: Varela;

    font-size: larger;
    font-weight: normal;
}

a {
    font-family: Varela;

    font-size: larger;
    font-weight: bold;

    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Varela;
    color: var(--text-color);
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
}

h2 {
    font-size: x-large;
    font-weight: bold;
}

p,
b,
del,
i,
li,
u {
    color: var(--text-color);
}

a,
summary,
li::marker,
hr {
    color: var(--link-color);
}

code {
    background-color: var(--second-default);
    display: block !important;
    color: var(--main-color);

    padding: 16px;
}