footer {
    padding: 1vh;
}



footer>div {
    display: inline;
}

footer>div>a,
footer>div>p {
    margin: 5px;
}

footer>:first-child {
    float: left;
}

footer>:last-child {
    float: right;
    margin-right: 75px;
}