footer {
    margin-bottom: 5vh;
    margin-left: 15px;


    position: relative;
    bottom: 0;
}

footer>div {
    display: inline;
}

footer>div>a,
footer>div>p {
    margin: 5px;
}

footer>div>p {
    opacity: 2%;
}

footer>:first-child {
    float: left;
}

footer>:last-child {
    float: right;
    margin-right: 75px;
}