footer {
    position: relative;
    bottom: 0;
    width: 100%;

    padding-bottom: 5vh;
    padding-top: 2.5vh;

    z-index: 1000;

    background: linear-gradient(var(--background-color), var(--main-color));
}

footer>div {
    display: inline;
}

footer>div>a,
footer>div>p {
    margin: 5px;
}

footer>div>p {
    opacity: 2%;
}

footer>:first-child {
    margin-left: 5vw;
    float: left;
}

footer>:last-child {
    float: right;
    margin-right: 5vw;
}