header {
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;

    z-index: 1000;

    background: linear-gradient(var(--main-color-transparent), var(--background-color-transparent));
    backdrop-filter: var(--blur);
}


header>a {
    margin-right: 50px;
    text-decoration: none;
}

header>div>div>.subnav-text>img {
    max-width: 25px;
    transform: translateY(25%);
}

header>div>div>.subnav-text>h2 {
    margin-right: 25px;
    text-decoration: none;
    font-size: large;
    font-family: Varela;
}

header>a>h1,
header>div,
header>div>div,
header>div>div>.subnav-text>h2 {
    display: inline-block;
}