header {
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;

    z-index: 1000;
    
    background: linear-gradient(var(--main-color), var(--background-color));

    border-bottom-color:var(--main-color);
    border-bottom-width: 2px;
    border-bottom-style: solid;
}


header>a {
    margin-right: 50px;
    text-decoration: none;
}

header>div>div>.subnav-text>img {
    max-width: 25px;
    transform: translateY(25%);
}

header>div>div>.subnav-text>h2 {
    margin-right: 25px;
    text-decoration: none;
    font-size: large;
    font-family: Varela;
}

header>a>h1,
header>div,
header>div>div,
header>div>div>.subnav-text>h2 {
    display: inline-block;
}