#markdown>img {
    max-width: 90%;
}

#markdown>*:not(hr) {
    display: inline;
}

#markdown>a>* {
    display: inline;
}

#markdown {
    min-width: 85%; 
}

#markdown>*>p {
    max-width: fit-content;
    display: inline-block;
    white-space: pre;
}

#markdown>h1,#markdown>h2,#markdown>h3,#markdown>h4,#markdown>h5,#markdown>h6 {
    display: block;

    text-decoration: underline;
    text-decoration-color: var(--link-color);

    padding-bottom: 12px;
    padding-top: 12px;
}

#anchorList{
    padding: 16px;
    
    display: grid;
    
    border-style: solid;
    border-width: 2px;
    border-color: var(--text-color);
    border-radius: 16px;

    background-color: var(--main-color-transparent);

    position: fixed;
    left: 12px;
    top: 70vh;

    max-width: fit-content;
    
    opacity: 0.75;
    scale: 0.45;
    transform: translateX(-60%);
    transition: 1s;
    z-index: 998;
}

#anchorList:hover,
#anchorList:active
{
    opacity: 1;
    scale: 1;
    transform: translateX(0%);
    z-index: 1001;
    backdrop-filter: blur(10px);
    top: 60vh !important;
}

#anchorList>a{
    pointer-events: none;
    padding-bottom: 4px;
    transition: 0.5s;
}

#anchorList:hover>a,
#anchorList:active>a{
    pointer-events: all !important;
    padding-bottom: 12px;
}