:root.light {
    --background-color: rgb(255, 255, 255);
    --background-color-transparent: rgb(255, 255, 255, 0.5);
    --main-color: rgb(235, 235, 235);
    --main-color-transparent: rgba(235, 235, 235, 0.5);
    --text-color: rgb(30, 30, 30);
    --link-color: rgb(80, 80, 80);
    --cursor-default: rgba(0, 0, 0, 0.75);
    --cursor-hover: rgba(0, 0, 0, 0.5);
}

:root.day {
    --background-color: rgb(30, 30, 45);
    --background-color-transparent: rgb(30, 30, 45, 0.5);
    --main-color: rgb(50, 50, 65);
    --main-color-transparent: rgba(50, 50, 65, 0.5);
    --text-color: rgb(225, 225, 225);
    --link-color: rgb(175, 175, 175);
    --cursor-default: rgba(255, 255, 255, 0.75);
    --cursor-hover: rgba(255, 255, 255, 0.5);
}

:root.default-theme,
:root.dark {
    --background-color: rgb(30, 30, 30);
    --background-color-transparent: rgb(30, 30, 30, 0.5);
    --main-color: rgb(50, 50, 50);
    --main-color-transparent: rgba(50, 50, 50, 0.5);
    --text-color: rgb(225, 225, 225);
    --link-color: rgb(175, 175, 175);
    --cursor-default: rgba(255, 255, 255, 0.75);
    --cursor-hover: rgba(255, 255, 255, 0.5);
}

:root {
    --box-shadow-all-inset-main-color: 0px 0px 10px 5px var(--main-color), inset 0px 0px 20px 1px var(--main-color);
    --box-shadow-all-inset-main-transparent-color: 0px 0px 10px 5px var(--main-color-transparent), inset 0px 0px 20px 1px var(--main-color-transparent);
}

:root.dark .svg,
:root.default-theme .svg,
:root.day .svg {
    filter: invert(1);
}

body {
    background-color: var(--background-color);
}

::selection {
    background-color: transparent;
    color: red;
}